
.actions span{
    margin-right: 1rem;
    cursor: pointer;
    font-weight: bold;
}


#lead-box{
    // max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    padding: 2rem;

    .add-lead-button{
        
    }
}